<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Saveservlet</display-name>
    <servlet-name>Saveservlet</servlet-name>
    <servlet-class>com.niit.servlets.Saveservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Saveservlet</servlet-name>
    <url-pattern>/Saveservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>custLogin</display-name>
    <servlet-name>custLogin</servlet-name>
    <servlet-class>com.niit.servlets.custLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custLogin</servlet-name>
    <url-pattern>/custLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLogin</display-name>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>com.niit.servlets.adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Vieworders</display-name>
    <servlet-name>Vieworders</servlet-name>
    <servlet-class>com.niit.servlets.Vieworders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vieworders</servlet-name>
    <url-pattern>/Vieworders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.niit.servlets.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.niit.servlets.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>com.niit.servlets.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
</web-app>